.prizes-main {
  position: relative;
  background-color: #1c1f35;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  color: white;
  padding-top: 5%;
}

.prize-heading-div {
  height: 6rem;
  position: relative;
}

.prizes-heading {
  position: absolute;
  text-align: center;
  top: 2rem;
  /* right: 1rem; */
  /* left: 3.5rem; */
  font-weight: 1000;
  color: rgba(83, 93, 161, 0.8);
  width: 100%;
  margin-left: auto;
}

.prize-img {
  position: absolute;
}

.prize {
  padding: 4rem;
  transition: all 0.2s ease-in-out;
  border-radius: 44px;
  background: #161723;
  box-shadow: -22px -22px 54px #0c121e, 22px 22px 54px #0c121e;
}

.prize:hover {
  box-shadow: 20px 20px 32px #0d0e18, -20px -20px 32px #0d0e18;
}

.prize-title {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.prize-amt {
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 6px #fff;
}

.prizes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.prize-1 {
  display: flex;
  justify-content: center;
}

.prize-container {
  padding: 0.5rem;
}

@media only screen and (min-width: 992px) {
  .prizes-main {
    position: relative;
    background-color: #1c1f35;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    padding: 1rem;
  }

  .prizes-heading {
    position: absolute;
    text-align: start;
    top: 2rem;
    right: 1rem;
    /* left: 3.5rem; */
    font-weight: 1000;
    color: rgba(83, 93, 161, 0.8);
    width: 100%;
    margin-left: auto;
  }
}
